.app-container {
  height: 100%;
  width: 100%;
}

.app-sub-container {
  height: calc(100% - 64px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  height: 64px;
}
